<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="../model/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="../model/jquery-3.3.1.min.js"></script>
    <script src="../model/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <style type="text/css">
        .div-img {
            height: 250px;
        }

        .divMain {
            margin-top: -15px;
        }

        .navbar {
            border: 0px;
            background-color: #FFFFFF;
        }

        <!--
        取消列表的变线

        -->
        .list-group {
            border: 0px;
        }

        .list-group-item {
            border: 0px;
        }

        .list-group-item {
            float: left;
        }

        .ul1, .li1 {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .span1 {
            font-weight: bold;
        }
    </style>

    <script>
        $(document).ready(function () {
            $("#telText1").focus(function () {
                $("#pd1").show();
            })
            $("#telText1").blur(function () {
                $("#pd1").hide();
            })
            $("#qx").click(function () {
                $("#pd1").hide();
            })
        })
    </script>
    <!-- iframe 高度自适应 -->
    <script>
        function setIframeHeight(iframe) {
            if (iframe) {
                var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                if (iframeWin.document.body) {
                    iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                }
            }
        };

        window.onload = function () {
            setIframeHeight(document.getElementById('external-frame'));
        };
    </script>
</head>
<body>
<!-- 页面主体  -->
<div class="container">
    <!-- 标题栏 start -->
    <iframe width="100%" src="yige_head.html" frameborder="0" scrolling="no"
            onload="setIframeHeight(this)"></iframe>
    <!-- 标题栏 end -->

    <!-- 页面内容 start -->
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <!-- 文章头 -->
            <h1 style="font-weight: bold">这是一个测试</h1>
            <div class="row">
                <div class="list-group">
                    <div class="list-group-item">
                        <img src="../img/user.png" width="70px" style="border-radius: 50%">
                    </div>
                    <div class="list-group-item" style="margin-top: -10px">
                        <ul class="ul1">
                            <li class="li1"><h3>张三</h3></li>
                            <li class="li1">2018.12.07 17:00 <span class="span1">·</span> 字数233 <span
                                    class="span1">·</span> 阅读233 <span class="span1">·</span> 评价233 <span class="span1">·</span>
                                喜欢233
                            </li>

                        </ul>
                    </div>
                    <div class="list-group-item" style="float: right;margin-top: 15px">
                        <div style="float: right;margin-left: 15px" class="btn btn-info">编辑文章</div>
                        <div class="btn btn-info" style="float: right">关注</div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- 文章主体 -->
            <div>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
                awdaijdoaiwjdioaj><br>
            </div>

            <div class="row">
                <p style="text-align: center"><span
                        style="font-weight: bold;font-size: 16px;color: #999999">写的不错，支持一下</span></p>
                <p style="text-align: center">
                    <span style="font-weight: bold;" class="btn btn-danger"><span
                            class="glyphicon glyphicon-heart"></span>点赞</span>
                    <span data-toggle="modal" data-target="#myModal"
                          style="font-weight: bold;margin-left: 10px;margin-right: 10px" class=" btn btn-danger"><span
                            class="glyphicon glyphicon-jpy"></span>打赏支持</span>
                    <span style="font-weight: bold;" class="btn btn-danger"><span
                            class="glyphicon glyphicon-star"></span>收藏</span>
                </p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="jbwz" style="float: right;color: #999999">
                        <span class=" glyphicon glyphicon-exclamation-sign "></span>
                        <a href="#" style="text-decoration: none;color: #999999"><span
                                style="font-size: 14px">举报文章</span></a>

                    </div>
                </div>
            </div>
            <hr>


            <!-- 广告 -->
            <img src="../img/o.jpg" width="100%" height="250px" style="margin-top: 100px">


            <div class="row" style="margin-top: 30px">
                <div class="col-md-1">
                    <img src="../img/user.png" width="50px" style="border-radius: 50%">
                </div>
                <div class="col-md-11">
                    <textarea id="telText1" class="form-control" placeholder="最多300个字" rows="3"
                              style="width: 100%;margin-bottom: 5px"></textarea>
                </div>
                <p class="col-md-12" hidden id="pd1">
                    <span style="float:right;" class="btn btn-info">发送</span><span style="float: right" class="btn"
                                                                                   id="qx">取消</span>
                </p>
                <div style="height: 20px;" class="col-md-12"></div>
                <p class="col-md-12">
                    <span style="font-size: 16px;font-weight: bold">10条评论</span>
                    <span href="#" id="sj1" style="color: #000000;float: right;margin-left: 15px">按时间倒序</span>
                    <span href="#" id="sj2" style="color: #999999;float: right">按时间正序</span>
                </p>
                <hr class="col-md-12" style="margin-top: 0px">

                <!-- 评论 -->
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img src="../img/user.png" width="40px" style="border-radius: 50%">
                        </div>
                        <div class="col-md-11">
                            <ul class="ul1" style="">
                                <li class="li1"><span style="font-size: 16px">张三</span></li>
                                <li class="li1" style="font-size: 12px;color: #999999">1楼 <span class="span1">·</span>
                                    1202.02.12 12:13
                                </li>
                            </ul>
                        </div>
                        <div style="height: 15px;" class="col-md-12"></div>
                        <p class="col-md-12" style="font-size: 16px">我杆菌不行， 23333333333333333333333333333333333333</p>
                        <div style="height: 0px;" class="col-md-12"></div>
                        <p class="col-md-12" style="color: #999999">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <span style="margin-left: 3px;font-size: 16px">赞</span>
                            <span style="margin-left: 15px;" class="glyphicon glyphicon-comment"></span>
                            <span style="margin-left: 3px;font-size: 16px">回复</span>
                        </p>

                    </div>
                    <hr class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img src="../img/user.png" width="40px" style="border-radius: 50%">
                        </div>
                        <div class="col-md-11">
                            <ul class="ul1" style="">
                                <li class="li1"><span style="font-size: 16px">张三</span></li>
                                <li class="li1" style="font-size: 12px;color: #999999">1楼 <span class="span1">·</span>
                                    1202.02.12 12:13
                                </li>
                            </ul>
                        </div>
                        <div style="height: 15px;" class="col-md-12"></div>
                        <p class="col-md-12" style="font-size: 16px">我杆菌不行， 23333333333333333333333333333333333333</p>
                        <div style="height: 0px;" class="col-md-12"></div>
                        <p class="col-md-12" style="color: #999999"><span
                                class="glyphicon glyphicon-thumbs-up"></span><span
                                style="margin-left: 3px;font-size: 16px">赞</span><span style="margin-left: 15px;"
                                                                                       class="glyphicon glyphicon-comment"></span><span
                                style="margin-left: 3px;font-size: 16px">回复</span></p>
                    </div>
                    <hr class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img src="../img/user.png" width="40px" style="border-radius: 50%">
                        </div>
                        <div class="col-md-11">
                            <ul class="ul1" style="">
                                <li class="li1"><span style="font-size: 16px">张三</span></li>
                                <li class="li1" style="font-size: 12px;color: #999999">1楼 <span class="span1">·</span>
                                    1202.02.12 12:13
                                </li>
                            </ul>
                        </div>
                        <div style="height: 15px;" class="col-md-12"></div>
                        <p class="col-md-12" style="font-size: 16px">我杆菌不行， 23333333333333333333333333333333333333</p>
                        <div style="height: 0px;" class="col-md-12"></div>
                        <p class="col-md-12" style="color: #999999"><span
                                class="glyphicon glyphicon-thumbs-up"></span><span
                                style="margin-left: 3px;font-size: 16px">赞</span><span style="margin-left: 15px;"
                                                                                       class="glyphicon glyphicon-comment"></span><span
                                style="margin-left: 3px;font-size: 16px">回复</span></p>
                    </div>
                    <hr class="col-md-12">
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <img src="../img/user.png" width="40px" style="border-radius: 50%">
                        </div>
                        <div class="col-md-11">
                            <ul class="ul1" style="">
                                <li class="li1"><span style="font-size: 16px">张三</span></li>
                                <li class="li1" style="font-size: 12px;color: #999999">1楼 <span class="span1">·</span>
                                    1202.02.12 12:13
                                </li>
                            </ul>
                        </div>
                        <div style="height: 15px;" class="col-md-12"></div>
                        <p class="col-md-12" style="font-size: 16px">我杆菌不行， 23333333333333333333333333333333333333</p>
                        <div style="height: 0px;" class="col-md-12"></div>
                        <p class="col-md-12" style="color: #999999"><span
                                class="glyphicon glyphicon-thumbs-up"></span><span
                                style="margin-left: 3px;font-size: 16px">赞</span><span style="margin-left: 15px;"
                                                                                       class="glyphicon glyphicon-comment"></span><span
                                style="margin-left: 3px;font-size: 16px">回复</span></p>
                    </div>
                    <hr class="col-md-12">
                </div>

                <!-- 广告 -->

                <div class="col-md-12">

                    <p href="#" style="color: #999999;"><span class="glyphicon glyphicon-refresh"></span><span
                            style="margin-left: 3px">推荐文章</span></p>
                    <div class="col-md-12"><img src="../img/o.jpg" width="100%" height="250px"></div>
                    <iframe id="if1" src="yige_guanzhuyigequan.html" width="100%" frameborder="0" scrolling="no"
                            onload="setIframeHeight(this)"></iframe>
                </div>


            </div>


        </div>
        <div class="col-md-2"></div>

    </div>
    <!-- 页面内容 end -->

</div>


</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <p style="text-align: center" class="modal-title" id="myModalLabel">
                    <img src="../img/user.png" style="width: 45px;border-radius: 50%">
                    <span style="margin-left: 4px;font-size: 16px;font-weight: bold">打赏一下~</span>
                </p>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4"><span style="width: 100%;background-color: #FFFFFF;color: black"
                                                class="btn btn-info">2元</span></div>
                    <div class="col-md-4"><span style="width: 100%;background-color: #FFFFFF;color: black"
                                                class="btn btn-info">5元</span></div>
                    <div class="col-md-4"><span style="width: 100%;background-color: #FFFFFF;color: black"
                                                class="btn btn-info">10元</span></div>
                </div>
                <div class="row" style="margin-top: 15px">
                    <div class="col-md-4"><span style="width: 100%;background-color: #FFFFFF;color: black"
                                                class="btn btn-info">20元</span></div>
                    <div class="col-md-4"><span style="width: 100%;background-color: #FFFFFF;color: black"
                                                class="btn btn-info">50元</span></div>
                    <div class="col-md-4"><span style="width: 100%;background-color: #FFFFFF;color: black"
                                                class="btn btn-info">100元</span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" style="border: 0px">关闭</button>
                <button type="button" id="tj1" class="btn btn-info" style="background-color: #ea6f5a;border: 0px">提交更改
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


</div>

</body>

<script>
    $(document).ready(function () {
        var dsq;
        $("#tj1").click(function () {
            alert(dsq);
        })
        $(".modal-body > div >div>span").click(function () {
            var all = $(".modal-body >div>div>span");
            all.css("color", "#000000");
            all.css("background", "#ffffff");


            var object = $(this);
            var o = object[0];
            dsq = o.innerText;
            o.style.color = "#ffffff";
            o.style.background = "#ea6f5a";
        })


        $("#sj1").click(function () {
            $("#sj2").css("color", "#999999")
            $("#sj1").css("color", "#000000")
        })
        $("#sj2").click(function () {
            $("#sj1").css("color", "#999999")
            $("#sj2").css("color", "#000000")
        })
    })
</script>
<script>
    function setIframeHeight(iframe) {
        if (iframe) {
            var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
            if (iframeWin.document.body) {
                iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
            }
        }
    };

    window.onload = function () {
        setIframeHeight(document.getElementById('external-frame'));
    };
</script>
</html>
