<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../model/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script src="../model/jquery-3.3.1.min.js"></script>
    <script src="../model/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <style type="text/css">
        .div-img {
            height: 250px;
        }

        .divMain {
            margin-top: -15px;
        }

        .navbar {
            border: 0px; background-color: #FFFFFF;
        }

        <!--
        取消列表的变线

        -->
        .list-group {
            border: 0px;
        }

        .list-group-item {
            border: 0px;
        }
    </style>
</head>
<body>


<div class="col-md-12">
    <div class="center-block">
        <!-- 文章配图 -->
        <a href="#">
            <img src="../img/o.jpg" style="float: right" height="100px" width="150px"></img>
        </a>
        <a href="#" style="color: black"><h3>这是一个测试!</h3></a>
        <p style="color: #999">
            这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这
        <div>
            <!-- 发帖人 -->
            <a href="#" style="color: #999;margin-left: 4px;margin-right: 4px">
                <span style="font-size: 12px" class="glyphicon glyphicon-user"></span>
                <span style="font-size: 13px">李四</span>
            </a>
            <!-- 评论数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-comment"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 点赞数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-heart"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 打赏数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-yen"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
        </div>

    </div>
    <hr>
</div>
<div class="col-md-12 divMain">
    <div class="center-block">
        <!-- 文章配图 -->
        <a href="#">
            <img src="../img/o.jpg" style="float: right" height="100px" width="150px"></img>
        </a>
        <!-- 文章标题 -->
        <a href="#" style="color: black"><h3>这是一个测试!</h3></a>
        <!-- 文章简介  不能超过52个汉字 -->
        <p style="color: #999">
            这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这
        <div>
            <!-- 发帖人 -->
            <a href="#" style="color: #999;margin-left: 4px;margin-right: 4px">
                <span style="font-size: 12px" class="glyphicon glyphicon-user"></span>
                <span style="font-size: 13px">李四</span>
            </a>
            <!-- 评论数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-comment"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 点赞数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-heart"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 打赏数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-yen"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
        </div>

    </div>
    <hr>
</div>
<div class="col-md-12 divMain">
    <div class="center-block">
        <!-- 文章配图 -->
        <a href="#">
            <img src="../img/o.jpg" style="float: right" height="100px" width="150px"></img>
        </a>
        <!-- 文章标题 -->
        <a href="#" style="color: black"><h3>这是一个测试!</h3></a>
        <!-- 文章简介  不能超过52个汉字 -->
        <p style="color: #999">
            这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这
        <div>
            <!-- 发帖人 -->
            <a href="#" style="color: #999;margin-left: 4px;margin-right: 4px">
                <span style="font-size: 12px" class="glyphicon glyphicon-user"></span>
                <span style="font-size: 13px">李四</span>
            </a>
            <!-- 评论数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-comment"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 点赞数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-heart"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 打赏数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-yen"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
        </div>

    </div>
    <hr>
</div>
<div class="col-md-12 divMain">
    <div class="center-block">
        <!-- 文章配图 -->
        <a href="#">
            <img src="../img/o.jpg" style="float: right" height="100px" width="150px"></img>
        </a>
        <!-- 文章标题 -->
        <a href="#" style="color: black"><h3>这是一个测试!</h3></a>
        <!-- 文章简介  不能超过52个汉字 -->
        <p style="color: #999">
            这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这
        <div>
            <!-- 发帖人 -->
            <a href="#" style="color: #999;margin-left: 4px;margin-right: 4px">
                <span style="font-size: 12px" class="glyphicon glyphicon-user"></span>
                <span style="font-size: 13px">李四</span>
            </a>
            <!-- 评论数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-comment"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 点赞数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-heart"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 打赏数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-yen"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
        </div>

    </div>
    <hr>
</div>
<div class="col-md-12 divMain">
    <div class="center-block">
        <!-- 文章配图 -->
        <a href="#">
            <img src="../img/o.jpg" style="float: right" height="100px" width="150px"></img>
        </a>
        <!-- 文章标题 -->
        <a href="#" style="color: black"><h3>这是一个测试!</h3></a>
        <!-- 文章简介  不能超过52个汉字 -->
        <p style="color: #999">
            这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这
        <div>
            <!-- 发帖人 -->
            <a href="#" style="color: #999;margin-left: 4px;margin-right: 4px">
                <span style="font-size: 12px" class="glyphicon glyphicon-user"></span>
                <span style="font-size: 13px">李四</span>
            </a>
            <!-- 评论数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-comment"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 点赞数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-heart"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 打赏数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-yen"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
        </div>

    </div>
    <hr>
</div>
<div class="col-md-12 divMain">
    <div class="center-block">
        <!-- 文章配图 -->
        <a href="#">
            <img src="../img/o.jpg" style="float: right" height="100px" width="150px"></img>
        </a>
        <!-- 文章标题 -->
        <a href="#" style="color: black"><h3>这是一个测试!</h3></a>
        <!-- 文章简介  不能超过52个汉字 -->
        <p style="color: #999">
            这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这是一个测试这
        <div>
            <!-- 发帖人 -->
            <a href="#" style="color: #999;margin-left: 4px;margin-right: 4px">
                <span style="font-size: 12px" class="glyphicon glyphicon-user"></span>
                <span style="font-size: 13px">李四</span>
            </a>
            <!-- 评论数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-comment"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 点赞数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-heart"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
            <!-- 打赏数 -->
            <span style="color: #999">
                                <span style="font-size: 12px" class="glyphicon glyphicon-yen"></span>
                                <span style="font-size: 14px">20</span>
                            </span>
        </div>

    </div>
    <hr>
</div>
<a href="" style="color: #999999"><p style="text-align: center">加载更多</p></a>

</body>
</html>