<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.annie.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.annie.entity.Article" >
    <id column="aa_id" property="aaId" jdbcType="INTEGER" />
    <result column="aa_a_id" property="aaAId" jdbcType="INTEGER" />
    <result column="aa_createtime" property="aaCreatetime" jdbcType="TIMESTAMP" />
    <result column="aa_articlehead" property="aaArticlehead" jdbcType="CHAR" />
    <result column="aa_articleheads" property="aaArticleheads" jdbcType="CHAR" />
    <result column="aa_click" property="aaClick" jdbcType="INTEGER" />
    <result column="aa_bulou" property="aaBulou" jdbcType="INTEGER" />
    <result column="aa_comment" property="aaComment" jdbcType="INTEGER" />
    <result column="aa_reward" property="aaReward" jdbcType="INTEGER" />
    <result column="aa_u_id" property="aaUId" jdbcType="INTEGER" />
    <result column="a_status" property="aStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.annie.entity.Article" extends="BaseResultMap" >
    <result column="aa_articlecontent" property="aaArticlecontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    aa_id, aa_a_id, aa_createtime, aa_articlehead, aa_articleheads, aa_click, aa_bulou, 
    aa_comment, aa_reward, aa_u_id, a_status
  </sql>
  <sql id="Blob_Column_List" >
    aa_articlecontent
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.annie.entity.ArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.annie.entity.ArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where aa_id = #{aaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where aa_id = #{aaId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.annie.entity.ArticleExample" >
    delete from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.annie.entity.Article" >
    insert into article (aa_id, aa_a_id, aa_createtime, 
      aa_articlehead, aa_articleheads, aa_click, 
      aa_bulou, aa_comment, aa_reward, 
      aa_u_id, a_status, aa_articlecontent
      )
    values (#{aaId,jdbcType=INTEGER}, #{aaAId,jdbcType=INTEGER}, #{aaCreatetime,jdbcType=TIMESTAMP}, 
      #{aaArticlehead,jdbcType=CHAR}, #{aaArticleheads,jdbcType=CHAR}, #{aaClick,jdbcType=INTEGER}, 
      #{aaBulou,jdbcType=INTEGER}, #{aaComment,jdbcType=INTEGER}, #{aaReward,jdbcType=INTEGER}, 
      #{aaUId,jdbcType=INTEGER}, #{aStatus,jdbcType=INTEGER}, #{aaArticlecontent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.annie.entity.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aaId != null" >
        aa_id,
      </if>
      <if test="aaAId != null" >
        aa_a_id,
      </if>
      <if test="aaCreatetime != null" >
        aa_createtime,
      </if>
      <if test="aaArticlehead != null" >
        aa_articlehead,
      </if>
      <if test="aaArticleheads != null" >
        aa_articleheads,
      </if>
      <if test="aaClick != null" >
        aa_click,
      </if>
      <if test="aaBulou != null" >
        aa_bulou,
      </if>
      <if test="aaComment != null" >
        aa_comment,
      </if>
      <if test="aaReward != null" >
        aa_reward,
      </if>
      <if test="aaUId != null" >
        aa_u_id,
      </if>
      <if test="aStatus != null" >
        a_status,
      </if>
      <if test="aaArticlecontent != null" >
        aa_articlecontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aaId != null" >
        #{aaId,jdbcType=INTEGER},
      </if>
      <if test="aaAId != null" >
        #{aaAId,jdbcType=INTEGER},
      </if>
      <if test="aaCreatetime != null" >
        #{aaCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="aaArticlehead != null" >
        #{aaArticlehead,jdbcType=CHAR},
      </if>
      <if test="aaArticleheads != null" >
        #{aaArticleheads,jdbcType=CHAR},
      </if>
      <if test="aaClick != null" >
        #{aaClick,jdbcType=INTEGER},
      </if>
      <if test="aaBulou != null" >
        #{aaBulou,jdbcType=INTEGER},
      </if>
      <if test="aaComment != null" >
        #{aaComment,jdbcType=INTEGER},
      </if>
      <if test="aaReward != null" >
        #{aaReward,jdbcType=INTEGER},
      </if>
      <if test="aaUId != null" >
        #{aaUId,jdbcType=INTEGER},
      </if>
      <if test="aStatus != null" >
        #{aStatus,jdbcType=INTEGER},
      </if>
      <if test="aaArticlecontent != null" >
        #{aaArticlecontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.annie.entity.ArticleExample" resultType="java.lang.Integer" >
    select count(*) from article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update article
    <set >
      <if test="record.aaId != null" >
        aa_id = #{record.aaId,jdbcType=INTEGER},
      </if>
      <if test="record.aaAId != null" >
        aa_a_id = #{record.aaAId,jdbcType=INTEGER},
      </if>
      <if test="record.aaCreatetime != null" >
        aa_createtime = #{record.aaCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.aaArticlehead != null" >
        aa_articlehead = #{record.aaArticlehead,jdbcType=CHAR},
      </if>
      <if test="record.aaArticleheads != null" >
        aa_articleheads = #{record.aaArticleheads,jdbcType=CHAR},
      </if>
      <if test="record.aaClick != null" >
        aa_click = #{record.aaClick,jdbcType=INTEGER},
      </if>
      <if test="record.aaBulou != null" >
        aa_bulou = #{record.aaBulou,jdbcType=INTEGER},
      </if>
      <if test="record.aaComment != null" >
        aa_comment = #{record.aaComment,jdbcType=INTEGER},
      </if>
      <if test="record.aaReward != null" >
        aa_reward = #{record.aaReward,jdbcType=INTEGER},
      </if>
      <if test="record.aaUId != null" >
        aa_u_id = #{record.aaUId,jdbcType=INTEGER},
      </if>
      <if test="record.aStatus != null" >
        a_status = #{record.aStatus,jdbcType=INTEGER},
      </if>
      <if test="record.aaArticlecontent != null" >
        aa_articlecontent = #{record.aaArticlecontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update article
    set aa_id = #{record.aaId,jdbcType=INTEGER},
      aa_a_id = #{record.aaAId,jdbcType=INTEGER},
      aa_createtime = #{record.aaCreatetime,jdbcType=TIMESTAMP},
      aa_articlehead = #{record.aaArticlehead,jdbcType=CHAR},
      aa_articleheads = #{record.aaArticleheads,jdbcType=CHAR},
      aa_click = #{record.aaClick,jdbcType=INTEGER},
      aa_bulou = #{record.aaBulou,jdbcType=INTEGER},
      aa_comment = #{record.aaComment,jdbcType=INTEGER},
      aa_reward = #{record.aaReward,jdbcType=INTEGER},
      aa_u_id = #{record.aaUId,jdbcType=INTEGER},
      a_status = #{record.aStatus,jdbcType=INTEGER},
      aa_articlecontent = #{record.aaArticlecontent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update article
    set aa_id = #{record.aaId,jdbcType=INTEGER},
      aa_a_id = #{record.aaAId,jdbcType=INTEGER},
      aa_createtime = #{record.aaCreatetime,jdbcType=TIMESTAMP},
      aa_articlehead = #{record.aaArticlehead,jdbcType=CHAR},
      aa_articleheads = #{record.aaArticleheads,jdbcType=CHAR},
      aa_click = #{record.aaClick,jdbcType=INTEGER},
      aa_bulou = #{record.aaBulou,jdbcType=INTEGER},
      aa_comment = #{record.aaComment,jdbcType=INTEGER},
      aa_reward = #{record.aaReward,jdbcType=INTEGER},
      aa_u_id = #{record.aaUId,jdbcType=INTEGER},
      a_status = #{record.aStatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.annie.entity.Article" >
    update article
    <set >
      <if test="aaAId != null" >
        aa_a_id = #{aaAId,jdbcType=INTEGER},
      </if>
      <if test="aaCreatetime != null" >
        aa_createtime = #{aaCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="aaArticlehead != null" >
        aa_articlehead = #{aaArticlehead,jdbcType=CHAR},
      </if>
      <if test="aaArticleheads != null" >
        aa_articleheads = #{aaArticleheads,jdbcType=CHAR},
      </if>
      <if test="aaClick != null" >
        aa_click = #{aaClick,jdbcType=INTEGER},
      </if>
      <if test="aaBulou != null" >
        aa_bulou = #{aaBulou,jdbcType=INTEGER},
      </if>
      <if test="aaComment != null" >
        aa_comment = #{aaComment,jdbcType=INTEGER},
      </if>
      <if test="aaReward != null" >
        aa_reward = #{aaReward,jdbcType=INTEGER},
      </if>
      <if test="aaUId != null" >
        aa_u_id = #{aaUId,jdbcType=INTEGER},
      </if>
      <if test="aStatus != null" >
        a_status = #{aStatus,jdbcType=INTEGER},
      </if>
      <if test="aaArticlecontent != null" >
        aa_articlecontent = #{aaArticlecontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where aa_id = #{aaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.annie.entity.Article" >
    update article
    set aa_a_id = #{aaAId,jdbcType=INTEGER},
      aa_createtime = #{aaCreatetime,jdbcType=TIMESTAMP},
      aa_articlehead = #{aaArticlehead,jdbcType=CHAR},
      aa_articleheads = #{aaArticleheads,jdbcType=CHAR},
      aa_click = #{aaClick,jdbcType=INTEGER},
      aa_bulou = #{aaBulou,jdbcType=INTEGER},
      aa_comment = #{aaComment,jdbcType=INTEGER},
      aa_reward = #{aaReward,jdbcType=INTEGER},
      aa_u_id = #{aaUId,jdbcType=INTEGER},
      a_status = #{aStatus,jdbcType=INTEGER},
      aa_articlecontent = #{aaArticlecontent,jdbcType=LONGVARCHAR}
    where aa_id = #{aaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.annie.entity.Article" >
    update article
    set aa_a_id = #{aaAId,jdbcType=INTEGER},
      aa_createtime = #{aaCreatetime,jdbcType=TIMESTAMP},
      aa_articlehead = #{aaArticlehead,jdbcType=CHAR},
      aa_articleheads = #{aaArticleheads,jdbcType=CHAR},
      aa_click = #{aaClick,jdbcType=INTEGER},
      aa_bulou = #{aaBulou,jdbcType=INTEGER},
      aa_comment = #{aaComment,jdbcType=INTEGER},
      aa_reward = #{aaReward,jdbcType=INTEGER},
      aa_u_id = #{aaUId,jdbcType=INTEGER},
      a_status = #{aStatus,jdbcType=INTEGER}
    where aa_id = #{aaId,jdbcType=INTEGER}
  </update>
</mapper>